body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-tab {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: rgb(100, 100, 100);
  text-decoration: none;
  border: 1px solid rgb(100, 100, 100);
}

.search-container {
  float: right;
  margin-top: 10px;
}

.search-box{
   padding: 10px;
   border: 2px solid #2EABFF;
   border-radius: 15px;
}

.tweet {
  width: 70px;
  margin-left: 5px;
}

.cover-photo{
  width: 30%;
  height: 200px;
  background-color: rgb(66, 189, 234);
}