body {
  margin: 10px;
  color: rgb(100, 100, 100);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-tab {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: rgb(100, 100, 100);
  text-decoration: none;
  border: 1px solid rgb(100, 100, 100);
}

.search-container {
  float: right;
  margin-top: 10px;
}

.search-box{
   padding: 10px;
   border: 2px solid #3399FF;
   border-radius: 15px;
}

.tweet {
  width: 70px;
  margin-left: 5px;
}

.section {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  flex: 200px;
}

.profile-section {
  /* padding-right: 10px;
  padding-left: 10px; */
  border: 2px solid rgb(100, 100, 100);
  text-align: center;
}

.cover-photo{
  padding-right: 0px;
  padding-left: 0px;
  height: 150px;
  background-color: #3399FF;
}

.profile-text {
  padding: 10px;
}

.profile-links {
  padding-right: 12px;
  color: rgb(100, 100, 100);
  text-decoration: none;
  overflow-wrap: break-word;
}

#userName {
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}

#profile-pic{
  position: absolute;
  left: 20px;
  top: 160px;
}

@media (min-width: 500px) {
  /* #profile-pic{
    position: fixed;
    top: 200px;
    left: 20px
  } */
}

.description-section {
  border: 2px solid rgb(100, 100, 100);
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}



.left-bar {
  flex: 1;
}

.feed-section {
  border: 2px solid rgb(100, 100, 100);
  text-align: center;
  /* padding: 10px; */
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.friends-section {
  flex: 1;
  border: 2px solid rgb(100, 100, 100);
  text-align: center;
  padding: 10px;
}

.post-box{
   padding: 10px;
   border: 2px solid #3399FF;
   margin: 10px;
}

.new-post {
  background-color: #A1D0FF;
  padding: 8px;
}

#red-box {
  padding: 4px;
  width: 40px;
  height:40px;
  background-color: #660000;
  margin-top: 8px;
  margin-left: 50px;
  float: left;
}

.post-div {
  border-top: 2px solid rgb(100, 100, 100);
}

.post-icon{
  /* width: 75%; */
  float: left;
  margin: 10px;
}

.post-username{
  font-weight: bold;
  text-align: left;
}

.post-text{
  overflow: hidden;
  text-align: left;
}

.button {
  background-color: #0058B0;
  font-size: 16px;
  padding: 10px 24px;
  margin: 5px;
  color: white;
  border: none;
  float: left;
}

.friends-section{
  text-align: left;
}